<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Viaje.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4F20E5E1BC00848008A6918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4F20E771BC00849008A6918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4F20E821BC00849008A6918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
